@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff3d3;
}

.bg-hero-image {
  background-image: url("https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center;
}
